<app-navbar-login [value]="tipoPagina"></app-navbar-login>

<div class="flex">
  <app-sidebar></app-sidebar>
  <div class="home-section">
    <div class="h-full w-full">
      <div class="flex justify-between m-5">
        <div class="">
          <p class="title text-white font-medium text-lg font-bold">
            TABELA DE INSCRIÇÃO
          </p>
        </div>
        <!--
      <div class="" *ngIf="role == 'ADMIN'">
        <a routerLink="register" routerLinkActive="active">
          <app-button-green [value]="Adicionar"></app-button-green>
        </a>
      </div> -->
      </div>

      <div class="flex justify-between p-2">
        <div class="flex">
          <div class="flex items-center mr-3">
            <input
              checked
              id="ativo"
              type="radio"
              value=""
              name="tipos"
              (click)="getByAtivo()"
              class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500"
            />
            <label for="ativo" class="ml-2 text-sm font-medium">Ativo</label>
          </div>
          <div class="flex items-center">
            <input
              id="inativo"
              type="radio"
              value=""
              name="tipos"
              (click)="getByInativo()"
              class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500"
            />
            <label for="inativo" class="ml-2 text-sm font-medium"
              >Inativo</label
            >
          </div>
        </div>

        <div class="">
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                ></path>
              </svg>
            </div>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Filter"
              class="block w-full p-2 pl-10 text-sm text-black border border-blue-500 rounded-lg"
              required
            />
          </div>
        </div>
      </div>

      <div class="">
        <div class="example-container p-2 relative overflow-x-auto">
          <table
            mat-table
            [dataSource]="inscricaoArray"
            class="mat-elevation-z2"
            matSort
            (matSortChange)="announceSortChange($event)"
            matSort
            (matSortChange)="announceSortChange($event)"
          >
            <th matColumnDef="id">
              <mat-header-cell
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                mat-sort-header
                sortActionDescription="Sort by number"
              >
                Id
              </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let inscricao">
                {{ inscricao.id }}
              </mat-cell>
            </th>

            <th matColumnDef="usuario">
              <mat-header-cell
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                mat-sort-header
                sortActionDescription="Sort by user"
              >
                Candidato
              </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let inscricao">
                {{ inscricao.user }}
              </mat-cell>
            </th>

            <th matColumnDef="edital">
              <mat-header-cell
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                mat-sort-header
                sortActionDescription="Sort by edital"
              >
                Edital
              </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let inscricao">
                {{ inscricao.edital }}
              </mat-cell>
            </th>

            <th matColumnDef="funcao">
              <mat-header-cell
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                mat-sort-header
                sortActionDescription="Sort by funcao"
              >
                Função
              </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let inscricao">
                {{ inscricao.funcao }}
              </mat-cell>
            </th>

            <th matColumnDef="pontuacao">
              <mat-header-cell
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                mat-sort-header
                sortActionDescription="Sort by pontuacao"
              >
                Pontuação
              </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let inscricao">
                {{ inscricao.pontuacao }}
              </mat-cell>
            </th>

            <th matColumnDef="situacao">
              <div>
                <mat-header-cell
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  mat-sort-header
                  sortActionDescription="Sort by situacao"
                >
                  Situação
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let inscricao">
                  {{ inscricao.situacao }}
                </mat-cell>
              </div>
            </th>

            <th matColumnDef="acoes">
              <mat-header-cell
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
              </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let inscricao">
                <div class="flex">
                  <i class="bx bx-edit-alt" (click)="edit(inscricao)"> </i>
                </div>
                <div class="flex">
                  <i class="bx bx-info-circle" (click)="info(inscricao)"> </i>
                </div>
                <div
                  *ngIf="inscricao.actived == 'Ativo' && role == 'ADMIN'"
                  class="flex"
                >
                  <i
                    class="bx bx-trash cursor-pointer"
                    (click)="openDialog(inscricao)"
                  ></i>
                </div>
                <div
                  *ngIf="inscricao.actived == 'Desativado' && role == 'ADMIN'"
                  class="flex"
                >
                  <i
                    class="bx bx-check cursor-pointer"
                    (click)="ativar(inscricao)"
                  ></i>
                </div>
              </mat-cell>
            </th>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </table>
        </div>

        <div>
          <mat-paginator
            #paginator
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20]"
            [showFirstLastButtons]="true"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
