<app-navbar-login [value] = 'tipoPagina'></app-navbar-login>

<app-sidebar></app-sidebar>

<div class="home-section">
  <form class="h-full m-5" [formGroup]="formulario" *ngIf="formulario">
    <div class="flex justify-between">
      <p class="text-black font-medium justify-start text-lg font-bold">
        EDITAR FUNÇÃO
      </p>
    </div>

    <div class="">
      <label class="block text-sm" for="id">Código</label>
      <input
        formControlName="id"
        class="default-input p-2.5 text-center"
        type="text"
        id="id"
        required
      />
    </div>

    <form class="h-full" [formGroup]="formulario" *ngIf="formulario">
      <div>
        <div class="">
          <div class="col-span-3">
            <label class="block text-sm" for="pergunta">Pergunta</label>
            <input
              formControlName="pergunta"
              class="default-input w-full p-2.5"
              type="text"
              id="pergunta"
              aria-label="pergunta"
              required
            />
          </div>
        </div>

      </div>
    </form>

    <div class="items-center flex justify-between my-2">
      <div class="align-end">
        <app-button-red [value]="Nao" (click)="return()"></app-button-red>
      </div>

      <div>
        <app-button-green [value]="Sim" (click)="edit()"></app-button-green>
      </div>
    </div>
  </form>
</div>
