<div class="grid grid-cols-4 gap-4 m-2">
  <div class="text-center" *ngFor="let ed of editalArray">
    <div class="dv-padding-ldpi">
      <div class=" p-6 bg-gray-200 card shadow">

          <h5
            class="mb-2 text-black text-2xl font-bold tracking-tight text-gray-900 font-color-blue"
          >
            {{ ed.edital }}
          </h5>

        <div class="p-2">
          <div class="flex items-center justify-center">
            <i class="bx bxs-calendar"></i>
            <p class="font-normal block text-black">
              {{ ed.data_inicio }} até {{ ed.data_fim }}
            </p>
          </div>

          <div class="flex items-center justify-center">
            <i class="bx bxs-user"></i>
            <p class="font-normal block text-black">{{ ed.qtd_vagas }} vagas</p>
          </div>
        </div>

        <div >
          <a href="#" class="flex items-center justify-center">
            <i class="bx bxs-download"></i>
            <p class="underline font-normal p-1 text-blue-500">Edital</p>
          </a>
        </div>
        <a (click)="getFuncao(ed.id)" class="cursor-pointer">
          <p class="mb-2 font-bold text-xl block font-color-blue">
            Inscreva-se
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
