<app-navbar></app-navbar>

<div class="dv-center">
  <div class="dv-line">
    <div class="dv-column">
      <div
        class="dv-padding-top-hdpi dv-padding-right-hdpi dv-padding-left-hdpi"
      >
        <p
          class="flex dv-padding-hdpi dv-blue-border-left dv-blue-light-bg dv-radius dv-blue"
        >
          <img
            class="dv-vertical-align-middle dv-margin-right-ldpi"
            src="/../../../../assets/icon/blue-info.svg"
            width="16"
          />Seja bem vindo! Mantenha o seu cadastro sempre atualizado clicando
          em "<span class="dv-bold dv-blue">Minha conta</span>" antes de
          realizar uma inscrição.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="dv-center dv-padding-bottom-hdpi">
  <div class="dv-line dv-padding-right-mdpi dv-padding-left-mdpi">
    <div
      class="dv-column dv-padding-top-hdpi dv-padding-right-mdpi dv-padding-left-mdpi"
    >
      <a routerLink="/minha-conta" routerLinkActive="active">
        <div
          class="dv-line dv-full-height dv-gray-bg dv-border-bottom dv-radius"
        >
          <div
            class="dv-column dv-horizontal-align-center dv-vertical-align-center dv-text-align-center"
          >
            <div class="dv-padding-hdpi align-center">
              <img
                class="dv-margin-bottom-mdpi align-center"
                src="../../../../assets/icon/blue-user.svg"
                width="64"
              />

              <p class="dv-bold">Minha conta</p>

              <p class="dv-bold dv-red" style="display: none">
                O seu cadastro está pendente
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div
      class="dv-column dv-padding-top-hdpi dv-padding-right-mdpi dv-padding-left-mdpi"
    >
      <a (click)="getMinhasInscricoes()" class="dv-cursor">
        <div
          class="dv-line dv-full-height dv-gray-bg dv-border-bottom dv-radius"
        >
          <div
            class="dv-column dv-horizontal-align-center dv-vertical-align-center dv-text-align-center"
          >
            <div class="dv-padding-hdpi align-center">
              <img
                class="dv-margin-bottom-mdpi align-center"
                src="/../../../../assets/icon/blue-check-circle-line.svg"
                width="64"
              />

              <p class="dv-bold">Minhas inscrições</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="dv-line dv-padding-right-mdpi dv-padding-left-mdpi">
    <div
      class="dv-column dv-padding-top-hdpi dv-padding-right-mdpi dv-padding-left-mdpi"
    >
      <a routerLink="/edital/visualizareditais" routerLinkActive="active">
        <div
          class="dv-line dv-full-height dv-gray-bg dv-border-bottom dv-radius"
        >
          <div
            class="dv-column dv-horizontal-align-center dv-vertical-align-center dv-text-align-center"
          >
            <div class="dv-padding-hdpi align-center">
              <img
                class="dv-margin-bottom-mdpi align-center"
                src="/../../../../assets/icon/blue-sheet.svg"
                width="64"
              />

              <p class="dv-bold">Inscrições abertas</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- <div class="dv-column dv-padding-top-hdpi dv-padding-right-mdpi dv-padding-left-mdpi">

      <a href="/processoseletivo/processos_seletivos">

        <div class="dv-line dv-full-height dv-gray-bg dv-border-bottom dv-radius">

          <div class="dv-column dv-horizontal-align-center dv-vertical-align-center dv-text-align-center">

            <div class="dv-padding-hdpi align-center">

              <img class="dv-margin-bottom-mdpi align-center" src="/../../../../assets/icon/blue-info.svg" width="64">

              <p class="dv-bold">Andamentos dos Processos</p>

            </div>

          </div>

        </div>

      </a>

    </div> -->
  </div>
</div>

<app-footer></app-footer>
