
<app-navbar></app-navbar>
<div class="dv-line dv-border-bottom">
  <div class="dv-column">
    <div class="dv-center">
      <div class="dv-line">
        <div class="dv-column">
          <div class="dv-padding-hdpi">
            <p class="dv-gray flex">
              <img
                class="flex dv-vertical-align-middle dv-margin-right-ldpi"
                src="../../../../assets/icon/blue-home.svg"
                width="16"
              /><span
                routerLink="/inicio"
                routerLinkActive="active"
                class="dv-underline dv-blue dv-cursor"
                >Início</span
              >
              / Minhas inscrições
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dv-line">
  <div class="dv-column">
    <div class="dv-center">
      <div class="dv-line">
        <div class="dv-column">
          <div class="dv-padding-mdpi">
            <div class="dv-line">
              <div class="dv-column">
                <div class="dv-padding-mdpi">
                  <div class="dv-line">
                    <div class="dv-column dv-border dv-radius">
                      <div class="dv-padding-hdpi">
                        <div class="dv-line">
                          <div class="dv-column">
                            <p class="dv-bold">{{ inscricao.edital }} - Inscrição: {{inscricao.id}}</p>

                            <p class="flex">
                              <img
                                class="dv-vertical-align-middle dv-margin-right-ldpi"
                                src="../../../../assets/icon/gray-info.svg"
                                width="16"
                              />Situação: {{ inscricao.situacao }}

                            </p>
                            <p class="flex">
                              <img
                                class="dv-vertical-align-middle dv-margin-right-ldpi"
                                src="../../../../assets/icon/gray-info.svg"
                                width="16"
                              />Pontuação: {{ inscricao.pontuacao }}
                            </p>

                            <p class="flex mt-4 dv-bold">
                              Questionário:
                            </p>

                            <div class="dv-line" *ngFor="let p of this.inscricao.inscricaoResposta">
                              <div class="dv-column mb-2">
                                <p class="">{{p.pergunta}}</p>
                                <p class="ml-3"> - {{p.alternativa}}</p>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
