<app-navbar-login [value] = 'tipoPagina'></app-navbar-login>

<app-sidebar></app-sidebar>
<div class="home-section">
  <form class="m-5" [formGroup]="formulario" *ngIf="formulario">
    <div class="flex justify-between">
      <p class="text-black font-medium justify-start text-lg font-bold">
        REGISTRE O USUÁRIO
      </p>
    </div>

    <form class="h-full w-full" [formGroup]="formulario" *ngIf="formulario">
      <div>
        <div class="">
          <div class="col-span-3">
            <label class="block text-sm" for="nome">Nome</label>
            <input
              formControlName="name"
              class="default-input w-full p-2.5"
              type="text"
              id="name"
              aria-label="name"
              required
            />
          </div>
        </div>

        <div class="grid grid-cols-3">
          <div class="col mr-4">
            <label class="block text-sm" for="email">E-mail</label>
            <input
              formControlName="email"
              class="default-input w-full p-2.5"
              type="email"
              id="email"
              aria-label="email"
              required
            />
          </div>

          <div class="col mr-4">
            <label class="block text-sm" for="password">Senha</label>
            <input
              formControlName="password"
              class="default-input w-full p-2.5"
              type="password"
              id="password"
              aria-label="password"
              required
            />
          </div>

          <div class="col">
            <label class="block text-sm" for="role">Permissão</label>
            <select
              id="role"
              formControlName="role"
              class="default-input w-full p-2.5"
            >
              <option value="" disabled selected>Selecione a permissão</option>
              <option *ngFor="let role of roles" [value]="role.id">
                {{ role.role }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </form>

    <div class="items-center flex justify-between my-2">
      <div>
        <app-button-red [value]="Nao" (click)="return()"></app-button-red>
      </div>

      <div class="align-end">
        <app-button-green [value]="Sim" (click)="save()"></app-button-green>
      </div>
    </div>
  </form>
</div>
