<div class="sidebar">
  <div class="logo-details">
    <!-- <i class='bx bxl-angular'></i> -->
    <div class="logo_name">FETI</div>
    <i (click)="openMenu()" class="bx bx-menu" id="btn"></i>
  </div>
  <li>
    <i class="bx bx-search" (click)="openMenu()"></i>
    <input type="text" placeholder="Search..." (keyup)="applyFilter($event)" />
    <span class="tooltip">Search</span>
  </li>
  <ul class="nav-list" id="nav-list">
    <li>
      <a routerLink="/profile" routerLinkActive="active">
        <i class="bx bx-user"></i>
        <span class="links_name">Perfil</span>
      </a>
      <p class="tooltip">Perfil</p>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active">
        <i class="bx bxs-user-detail"></i>
        <span class="links_name">Usuários</span>
      </a>
      <p class="tooltip">Usuários</p>
    </li>
    <li>
      <a routerLink="/edital" routerLinkActive="active">
        <i class='bx bx-folder-open'></i>
        <span class="links_name">Edital</span>
      </a>
      <p class="tooltip">Edital</p>
    </li>
    <li>
      <a routerLink="/inscricao" routerLinkActive="active">
        <i class='bx bx-edit-alt'></i>
        <span class="links_name">Inscrição</span>
      </a>
      <p class="tooltip">Inscrição</p>
    </li>
  </ul>
  <li class="profile">
    <div class="profile-details">
      <div class="name_job">
        <div class="name">Sistema FETI</div>
        <!-- <div class="job">Dev Full Stack</div> -->
      </div>
    </div>
    <i (click)="logout()" class="bx bx-log-out cursor-pointer" id="log_out"></i>
  </li>
</div>
<!-- <section class="home-section">
  <div class="text">Dashboard</div>
</section> -->
