<!-- <div>
  <div *ngFor="let i of this.inscricao">

    <p>{{i.edital}}</p>
    <p>{{i.funcao}}</p>

    <button class="bg-red-300" (click)="infoInscrica(i)">Visualizar minha inscrição</button>

  </div>
</div> -->
<app-navbar></app-navbar>
<div class="dv-line dv-border-bottom">
  <div class="dv-column">
    <div class="dv-center">
      <div class="dv-line">
        <div class="dv-column">
          <div class="dv-padding-hdpi">
            <p class="dv-gray flex">
              <img
                class="flex dv-vertical-align-middle dv-margin-right-ldpi"
                src="../../../../assets/icon/blue-home.svg"
                width="16"
              /><span
                routerLink="/inicio"
                routerLinkActive="active"
                class="dv-underline dv-blue dv-cursor"
                >Início</span
              >
              / Minhas inscrições
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dv-line">
  <div class="dv-column">
    <div class="dv-center">
      <div class="dv-line">
        <div class="dv-column">
          <div class="dv-padding-mdpi">
            <div class="dv-line">
              <div class="dv-column">
                <div class="dv-padding-mdpi">
                  <div class="dv-line">
                    <div class="dv-column dv-border dv-radius">
                      <div class="dv-padding-hdpi">

                        <div class="dv-line" *ngIf="length == 0" >

                          <p>Nenhuma inscrição</p>

                        </div>

                        <div class="dv-line" *ngFor="let i of this.inscricao">
                          <div class="dv-column">
                            <p class="dv-bold">{{ i.edital }}</p>
                            <p class="flex">
                              <img
                                class="dv-vertical-align-middle dv-margin-right-ldpi"
                                src="../../../../assets/icon/gray-info.svg"
                                width="16"
                              />Inscrição: {{ i.id }}
                            </p>

                            <p class="flex">
                              <img
                                class="dv-vertical-align-middle dv-margin-right-ldpi"
                                src="../../../../assets/icon/gray-sheet.svg"
                                width="16"
                              />Cargo: {{ i.funcao }}
                            </p>

                            <p class="flex">
                              <img
                                class="dv-vertical-align-middle dv-margin-right-ldpi"
                                src="../../../../assets/icon/gray-check.svg"
                                width="16"
                              />Inscrito em: {{ i.created }}
                            </p>


                          </div>

                          <div
                            class="dv-column dv-vertical-align-center dv-horizontal-align-right block"
                          >
                            <div>
                              <p>
                                Resultado:
                                <span class="dv-bold gz-gray-tag">{{
                                  i.situacao
                                }}</span>
                              </p>

                              <a routerLink="/minha-inscricao/info/{{i.id}}" routerLinkActive="active" class="flex dv-blue dv-cursor  dv-vertical-align-center dv-horizontal-align-center ">
                                <img
                                  class="ml-2 dv-vertical-align-middle dv-margin-right-ldpi"
                                  src="../../../../assets/icon/blue-see.svg"
                                  width="16"
                                />
                                Visualizar
                              </a>
                            </div>

                            <!-- <p>Resultado: <span class="dv-bold gz-gray-tag">Aguardando</span><br><span onclick="inscricoesDeleteRequest(1294);" class="dv-underline dv-red dv-cursor"><img class="dv-vertical-align-middle dv-margin-right-ldpi" src="../../../../assets/icon/red-close.svg" width="16">Cancelar minha inscrição</span></p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
```
