  <div class="full-height dv-container dv-position-relative">

      <div class="dv-middle dv-position-absolute dv-top dv-right dv-overflow-y-scroll dv-full-height">

          <div class="dv-line">

              <div class="dv-column">

                  <div class="dv-padding-xdpi">

        <div class="dv-line-mobile">

          <div class="dv-column dv-mobile">

            <div class="dv-padding-mdpi">

              <div class="dv-text-align-center">

                <a routerLink="/inicio" routerLinkActive="active">

                  <img src="../../../../assets/feti.png">

                </a>

              </div>

            </div>

          </div>

          <div class="dv-column dv-mobile">

            <div class="dv-padding-mdpi">

              <div class="dv-text-align-center">

                <img src="../../../../assets/codiub-logo.png">

              </div>

            </div>

          </div>

        </div>

                      <h4 class="dv-margin-bottom-mdpi dv-bold">Política de privacidade</h4>

        <p class="dv-margin-bottom-mdpi">A política de privacidade estabelece as obrigações e responsabilidades de seus usuários na utilização desse website.</p>

        <p class="dv-margin-bottom-mdpi">Você usuário, não pode usar esse website se não estiver de acordo com a política de privacidade. Igualmente, você compreende que esse website tem a liberdade para modificar a política de privacidade, publicando as alterações dentro de área própria. O uso desse website indica que você usuário, aceita e concorda com quaisquer alterações que por ventura venham a ser implementadas ao presente documento.</p>

        <p class="dv-margin-bottom-mdpi">Ao utilizar esse website, você usuário, concorda em cumprir com os termos e condições da política de privacidade e, também, atesta que está ciente e de acordo com o fato de que esse website pode utilizar os seus dados pessoais de usuário, ou seja, coletar alguns dados e utilizar especificamente para simplificação de acesso à aplicações de acesso e analisar dados para melhorar os serviços prestados.</p>

        <p class="dv-margin-bottom-mdpi">Ao fornecer informações pessoais ou navegar nesse website, você estará automaticamente concordando com as regras de utilização, proteção e segurança estabelecidas nesse documento. Aqui, encontram-se as regras sobre que informações são coletadas, como são tratadas e utilizadas e, ainda, o destino que recebem:</p>

        <ul class="dv-black-topic">

          <li class="dv-margin-bottom-mdpi">O usuário se declara ciente de que, a partir da inscrição nesse website, armazenamos o seu endereço de e-mail e os demais dados sigilosos que foram informados nesse website em nosso banco de dados. Comprometemo-nos a manter confidencialidade de suas informações;</li>

          <li class="dv-margin-bottom-mdpi">Ao se logar nesse website, armazenaremos um cookie em seu computador ou outro dispositivo com finalidade de identificar a sua conta e melhorarmos a qualidade de sua navegação, podendo armazenar algumas preferências do usuário;</li>

          <li class="dv-margin-bottom-mdpi">A maioria dos navegadores é configurada para aceitar cookies. Porém o usuário pode redefinir o seu navegador para que recuse todos os cookies ou indique quando um cookie está sendo enviado. No entanto, alguns recursos desse website podem não funcionar adequadamente se os cookies estiverem desativados;</li>

          <li class="dv-margin-bottom-mdpi">Os registros de eventos e atividades desse website serão utilizados apenas para fins estatísticos e de métricas dos serviços disponibilizados. Contudo, esse website reserva-se ao direito de utilizar-se de tais registros, de forma individualizada, caso exista ordem judicial neste sentido ou mediante a ocorrência de eventos que exijam estas medidas, incluindo, mas não se limitando, a investigações que se promovam na tentativa de elucidar casos de evidência de autoria ou acesso, fraudes, alterações indevidas nos sistemas, o fornecimento de prova em procedimentos judiciais, etc;</li>

          <li class="dv-margin-bottom-mdpi">Após o cancelamento de sua inscrição, suas informações continuarão armazenadas em nosso banco de dados.</li>

        </ul>

        <p class="dv-margin-bottom-mdpi">Você usuário, declara que leu e concordou com a política de privacidade.</p>

        <a routerLink="/inicio" routerLinkActive="active">

          <p class="dv-text-align-right dv-cursor dv-underline dv-blue">Voltar para o início</p>

        </a>

                  </div>

              </div>

          </div>

      </div>

<div class="dv-screen full-height">

  <div class="dv-middle dv-float-right">

  </div>

  <div class="full-height dv-line dv-full-height dv-cover-bg" style="background-image: url('../../../../assets/bg.jpg'); background-position: left;">

    <div class="dv-column dv-position-relative dv-full-height dv-vertical-align-center dv-horizontal-align-center opacity">

      <div class="dv-position-absolute dv-top dv-left">

        <div class="dv-padding-xdpi">

          <a routerLink="/inicio" routerLinkActive="active">

            <img src="../../../../assets/white-feti.png" width="128px">

          </a>

        </div>

      </div>

      <div class="dv-position-absolute dv-top dv-right">

        <div class="dv-padding-xdpi">

          <img src="../../../../assets/white-codiub.png" width="128px">

        </div>

      </div>

      <div class="dv-position-absolute dv-bottom dv-left">

        <div class="dv-padding-xdpi">

          <a routerLink="/politica/termos_uso" routerLinkActive="active">

            <p class="dv-display-inline dv-margin-right-mdpi dv-white dv-underline">Termos de uso</p>

          </a>

          <a routerLink="/politica/privacidade" routerLinkActive="active">

            <p class="dv-display-inline dv-margin-right-mdpi dv-white dv-underline">Política de privacidade</p>

          </a>

          <div class="dv-line-break">

          </div>

          <!-- <a href="/processoseletivo/res/doc/termos_gerais.pdf" target="_blank">

            <p class="dv-display-inline dv-margin-right-mdpi dv-white dv-underline">Termos gerais</p>

          </a>

          <a href="/processoseletivo/res/doc/conduta.pdf" target="_blank">

            <p class="dv-display-inline dv-white dv-underline">Conduta</p>

          </a> -->

          <p class="dv-white"><a class="dv-underline dv-white" href="http://www.codiub.com.br" target="_blank">Codiub</a> © 2024 Inscrição FETI</p>

        </div>

      </div>

      <div class="dv-padding-hdpi">

        <h1 class="dv-bold dv-white">Inscrição<br>FETI</h1>

      </div>

    </div>

  </div>

</div>

  </div>
<div id="dv-menu" class="dv-position-fixed-mobile dv-top dv-left dv-full-width dv-full-height-mobile dv-white-bg" style="display: none;">

<div class="dv-padding-xdpi dv-text-align-right">

  <img onclick="showMenu();" class="dv-cursor" src="/processoseletivo/res/img/icon/close.svg" width="24">

</div>

<div class="dv-line">

  <div class="dv-column dv-horizontal-align-center">

    <div class="dv-padding-hdpi">

      <ul class="dv-margin-bottom-hdpi">

        <li><a class="dv-underline dv-cursor" href="/processoseletivo/@_YOUR_MENU"><img class="dv-margin-right-mdpi dv-vertical-align-middle" src="/processoseletivo/res/img/icon/star.svg" width="16">@_YOUR_MENU</a></li>

      </ul>

      <ul class="dv-margin-bottom-hdpi">

        <li><a class="dv-underline dv-cursor" href="/processoseletivo/minha_conta">Minha conta</a></li>

        <li><a class="dv-underline dv-cursor" href="/processoseletivo/trocar_senha">Trocar a senha</a></li>

      </ul>

      <ul>

        <li><a class="dv-underline dv-cursor" routerLink="/politica/termos_uso" routerLinkActive="active">Termos de uso</a></li>

        <li><a class="dv-underline dv-cursor" routerLink="/politica/privacidade" routerLinkActive="active">Política de privacidade</a></li>

        <li class="dv-display-inline dv-underline dv-cursor" onclick="logout();">Efetuar logout</li>

      </ul>

    </div>

  </div>

</div>

</div>

<div id="dv-search" class="dv-position-fixed-mobile dv-top dv-left dv-full-width dv-full-height-mobile dv-white-bg" style="display: none;">

<div class="dv-padding-xdpi dv-text-align-right">

  <img onclick="showSearch();" class="dv-cursor" src="/processoseletivo/res/img/icon/close.svg" width="24">

</div>

<div class="dv-line-mobile dv-padding-xdpi">

  <div class="dv-column dv-vertical-align-center">

    <form onsubmit="searchExample(); return false;">

      <input class="dv-padding-mdpi dv-radius dv-bold" type="text" id="search" name="search" autocomplete="off" placeholder="Buscar por...">

    </form>

  </div>

  <img onclick="searchExample();" class="dv-margin-left-hdpi dv-vertical-align-middle dv-cursor" src="/processoseletivo/res/img/icon/search.svg" width="24">

</div>

</div>

<div id="dv-cookie" style="display: none;">

<div class="dv-line-mobile dv-position-fixed-mobile dv-right dv-bottom dv-margin-hdpi dv-white-bg dv-border dv-radius dv-shadow">

  <div class="dv-column dv-vertical-align-center dv-horizontal-align-center">

    <div class="dv-padding-hdpi">

      <div class="dv-line-mobile dv-margin-bottom-mdpi">

        <div class="dv-column dv-vertical-align-center dv-horizontal-align-left">

          <p class="dv-bold">Política de privacidade</p>

        </div>

        <div class="dv-column dv-vertical-align-center dv-horizontal-align-right">

          <img onclick="sD(gI('dv-cookie'), 'none');" class="dv-cursor" src="/processoseletivo/res/img/icon/close.svg" width="16">

        </div>

      </div>

      <p class="dv-margin-bottom-mdpi dv-font-size-ldpi">Utilizamos Cookies para entregar conteúdos com relevância para você.<br>Para isso, precisamos que você aceite os Cookies no seu navegador.<br>Para saber mais, acesse a nossa página de <a routerLink="/politica/privacidade" routerLinkActive="active" class="dv-font-size-ldpi dv-underline dv-blue">política de privacidade</a>.</p>

      <div class="dv-line">

        <div class="dv-column dv-horizontal-align-right">

          <div>

            <form onsubmit="setCookie('cookie', 'activated', 365); sD(gI('dv-cookie'), 'none'); return false;">

              <button type="submit" class="dv-padding-mdpi dv-text-align-center dv-radius dv-blue-border dv-blue-bg dv-white dv-underline dv-cursor"><img class="dv-vertical-align-middle dv-margin-right-ldpi" src="/processoseletivo/res/img/icon/white-check.svg" width="16">Aceitar os Cookies</button>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

</div>

<div id="dv-loading" class="dv-position-fixed-mobile dv-top dv-left dv-full-width dv-full-height-mobile dv-dark-opacity" style="display: none;">

<div class="dv-line-mobile dv-full-height-mobile">

  <div class="dv-column dv-horizontal-align-center dv-vertical-align-center">

    <img src="../../../../assets/white-feti.png" width="128">

  </div>

</div>

</div>

<div id="dv-message" class="dv-position-fixed-mobile dv-top dv-left dv-full-width dv-full-height-mobile dv-dark-opacity" style="display: none;">

<div class="dv-line-mobile dv-full-height-mobile">

  <div class="dv-column dv-horizontal-align-center dv-vertical-align-center">

    <div class="dv-padding-hdpi">

      <div class="dv-radius dv-white-bg dv-shadow">

        <div class="dv-line-mobile dv-border-bottom">

          <div class="dv-column dv-vertical-align-center dv-horizontal-align-left">

            <div class="dv-padding-hdpi">

              <p id="dv-message-title" class="dv-bold">Title</p>

            </div>

          </div>

          <div class="dv-column dv-vertical-align-center dv-horizontal-align-right">

            <div class="dv-padding-hdpi">

              <img id="dv-message-handler" onclick="showMessage();" class="dv-cursor" src="/processoseletivo/res/img/icon/close.svg" width="16">

            </div>

          </div>

        </div>

        <div class="dv-padding-hdpi dv-text-align-center">

          <img id="dv-message-icon" class="dv-margin-bottom-mdpi" src="/processoseletivo/res/img/icon/check-circle-line.svg" width="64">

          <p id="dv-message-text">Message</p>

        </div>

      </div>

    </div>

  </div>

</div>

</div>

